<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MusicForDummies</title>
</head>
<body>
<div id="embed-container"></div>

<script src="https://prod.flat-cdn.com/embed-js/v1.5.0/embed.min.js"></script>
<script>
  <div id="embed-container"></div>

<script src="https://prod.flat-cdn.com/embed-js/v1.5.0/embed.min.js"></script>
<script>
  var container = document.getElementById('embed-container');
  var embed = new Flat.Embed(container, {
    // The score hosted on Flat we use here as template.
    // You can also use `embed.loadMusicXML(file)` to load your files on the fly
    score: '56ae21579a127715a02901a6',
    embedParams: {
      mode: 'edit',
      appId: '59e7684b476cba39490801c2',
      // Simple customizations
      branding: false,
      controlsPosition: 'top',
    }
  });
</script>
</body>
</html>